#encabezado {
    background-color: #c5c5c5;    
}

#logo {
    margin:0 left;
    width: 200px;
    height: 160px;
    text-align: center;
    padding: 10px;
}

#nav {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: right;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}
