#contenedor {
    margin: 0 auto; 
    width: 1140px;
    background-color: #c5c5c5;
    background-image: url("https://carloslhg.github.io/algorithmics/img/ojos.jpg");
    background-size: 75%;
    background-position: left bottom;
    background-position-x: 280px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.3);        
}

#logo {
    margin:0 left;
    width: 200px;
    height: 160px;
    text-align: center;
    padding: 40px;
}

#nav {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: right;
}

header {
    width: 80%;
    margin: 0 auto;    
}

#intro {
    width: 1024px;
    height: 400px;
    padding: 50px 0px 0px 100px;
    margin: 40px 0px 30px 0px;    
}

#titulo-principal {
    font-family: "Indie Flower";
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: #333333;
}

#titular {
    padding: 100px 0px 10px 0px;
}

#titulo-secundario {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    font-size: 50px;
    color:#008B8B;    
}

body {
    width: 100%;
    margin: 0 auto;  
}

#enunciado {
    width: 100%;
    margin: 0px auto;      
}

main{
    width: 100%;
    margin: 0 auto;
}

#box-intro {
    margin: 0 auto; 
    width: 100%;
    background-color: #fff;
    background-image: url("https://carloslhg.github.io/algorithmics/img/carbon4.jpg");
    background-size: 80%;
    background-position:center;
    background-position-x: right;
    background-repeat: no-repeat; 
}

#boton-nav {
    font-family: Indie Flower;
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #333333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color:black;
    color:white;
    text-align:center;
    padding:4px;
}

