body {
    font-family: sans-serif;
}

header{
    background-color: burlywood;
    font-family: 'Cambria,' 'Gill Sans,' 'Counter New,' cursive - no quotes;
}

header img {
    width: 70px;
    height: 70px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h1 img {
    width: 150px;
    height: 150px;
}

p {
    font-size: 20px;
}

p img {
    width: 100px;
    height: 100px;
}

footer {
    background-color: peru;
    color: white;
}
