body {
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    color: royalblue;
    font-size: 30px;
}

p {
    background-color: lightblue;
    font-size: 20px;
}

a {
    color: black;
    font-size: 20px;
    background-color: lightblue;
}

img {
    border: 2px solid brown;
}

table {
    background-color:lightblue;
    font-size: 20px;
    text-align: center;
    border-collapse: collapse;
}

td {
    border: 1px solid brown;
}
